{#- vim: set ft=jinja: #}
{
	"status": "{{ status }}",
	"operation": "{{ operation }}",
	"subject": "{{ subject }}",
	"details": {
		"id": "{{ detail_id }}",
		"url": "{{ detail_url }}",
		"title": "{{ detail_title }}"
	}
}
